.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
ul.todoList li {
  list-style: none !important;
  padding: 5px 0
}
ul.todoList li a {
  font-size: 20px;
  margin-left: 10px;
  color: crimson;
  text-decoration: none !important;
  float: right
}
ul.todoList {
  text-align: left !important;
  padding: 0
}
.todoWrapper {
  margin: 20px auto;
  max-width: 400px
}
.todoWrapper input[type="text"] {
  min-width: 100%
}
label {
  cursor: pointer;
  font-weight: bold
}
input {
  font-size: 20px;
}
div.errorMessage {
  padding: 5px 0;
  color: red;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
